body {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding: 20px;
}

h1 {
  transform: scale(1.1);
  padding: 20px;
}

.selectors {
  background-color: rgba(20, 255, 20, 0.336);
  max-width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: rgba(0, 0, 0, 0.438);
  border-radius: 10%;
  padding: 5px;
  margin: 5px;
  color: white;
}
